.table-height {
	height: 70vh;
	overflow-y: scroll;
}

@media screen and (min-width: 576px) {
	.resize-select-sm {
		width: auto !important
	}
}

@media screen and (max-width: 575px) {
	.resize-select-sm {
		width: 50% !important
	}
}